<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.hybrid.core"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET"/>
 </manifest>
